<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.greenacademy.gogotravel">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="Go Go Travel"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KhachSanActivity">

        </activity>
        <activity android:name=".DangKyActivity"></activity>
        <activity android:name=".GioiThieuActivity">

        </activity>
        <activity android:name=".QuanAnActivity">

        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".ManHinhChoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".CameraActivity" />
        <activity android:name=".SDCardActivity" />
    </application>

</manifest>